
<nav class="navbar navbar-toggleable-md navbar-light"
  role="navigation"
  style="background-color: #eec731; font-size: 16px"
  ng-controller="NavCtrl">

  <a class="navbar-brand" href="#">
    <span><%= image_tag("caffeine.svg", size: "60x30", alt: "Brand image") %></span>
    <span>Chem Lab Note</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/home">Home</a></li>
      <li ng-hide="signedIn()"><a ui-sref="login">Log In</a></li>
      <li ng-hide="signedIn()"><a ui-sref="register">Register</a></li>
      <li ng-show="signedIn()"><a href="#/">{{user.first_name}}</a></li>
      <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
    </ul>
  </div>
</nav>
