<header class="header" ng-controller="NavCtrl">
  <div class="row">
    <%= image_tag("chem-lab-note-logo.png", size: "150x120", alt: "chem lab note logo", class: "logo") %>


    <ul class="main-nav">

      <li><a  ui-sref="reactions.new">Create Reaction</a></li>
      <li><a  ui-sref="chemicals.new">Create Chemical</a></li>
      <li ng-hide="signedIn()" ng-if="'home.register' | isState"><a ui-sref='home.login'>Log In</a></li>
      <li ng-hide="signedIn()" ng-if="'home.login' | isState"><a ui-sref="home.register">Register</a></li>
      <li ng-show="signedIn()"><a ng-click="logout()" class="alink">Log Out</a></li>
    </ul>
  </div>
</header>
