<div class="row mt">

  <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 mb">
      <div class="col-xs-9 col-xs-offset-3 text-center">
          <h4> Post a Chemical</h4>
      </div>
      <br>
      <form class="form-horizontal" ng-submit='vm.createChemical()' name="form">

        <div class="form-group">
          <label for="Name" class="control-label col-xs-4">Name</label>
          <div class="col-xs-8">
              <input class="form-control" type="text" placeholder="e.g. acetic acid" ng-model='vm.chemical.name'
                     name="name" required="required">
                <div ng-messages="form.name.$error" ng-if="form.name.$touched">
                  <div ng-message="required" style="color:maroon">Name is required!</div>
                </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Formula" class="control-label col-xs-4">Formula</label>
          <div class="col-xs-8">
              <input class="form-control" type="text" placeholder="e.g. C2H4O2" ng-model='vm.chemical.formula'>
          </div>
        </div>

        <div class="form-group">
          <label for="Formula Weight" class="control-label col-xs-4">Formula Weight</label>
          <div class="col-xs-8">
            <input class="form-control" type="number"  step=0.001 placeholder="e.g. 60.05" ng-model="vm.chemical.fw">
          </div>
        </div>

        <div class="form-group">
          <label for="density" class="control-label col-xs-4">Density (g/mL)</label>
          <div class="col-xs-8">
            <input class="form-control" type="text"  placeholder="e.g. 0.61" ng-model="vm.chemical.density">
          </div>
        </div>

        <div class="form-group">
          <label for="mp" class="control-label col-xs-4">Melting point (<sup>o</sup>C)</label>
          <div class="col-xs-8">
            <input class="form-control" type="number"  step=0.001 placeholder="e.g. 16" ng-model="vm.chemical.mp">
          </div>
        </div>

        <div class="form-group">
          <label for="bp" class="control-label col-xs-4">Boiling point (<sup>o</sup>C)</label>
          <div class="col-xs-8">
            <input class="form-control" type="number"  step=0.001 placeholder="e.g. 118" ng-model="vm.chemical.bp">
          </div>
        </div>

        <br>

        <div class="col-xs-9 col-xs-offset-3 text-center">
            <input type="submit" id="chem-lab-note-button" value="Post Chemical">
        </div>

      </form>

  </div><!-- /col-md-4 -->

</div><!-- /row
