
      <div class="col-lg-3 col-md-6">
        <div reactions-chemical class="panel panel-primary" type="Reactant-1" ng-model="reactant_1">
          <p>name: {{$parent.$parent.reactantOne.properties.name}}</p>
          <p>formula: {{$parent.$parent.reactantOne.properties.formula}}</p>
          <p>fw: {{$parent.$parent.reactantOne.properties.fw}} <span ng-if="$parent.$parent.reactantOne.properties.fw">g/mol</span> </p>
          <p>density: {{$parent.$parent.reactantOne.properties.density}} <span ng-if="$parent.$parent.reactantOne.properties.density">g/mL</span></p>
          <p>mp: {{$parent.$parent.reactantOne.properties.mp}}<span ng-if="$parent.$parent.reactantOne.properties.mp"> <sup>o</sup>C</span></p>
          <p>bp: {{$parent.$parent.reactantOne.properties.bp}}<span ng-if="$parent.$parent.reactantOne.properties.bp"> <sup>o</sup>C</span></p>
        </div>



      </div>

      <div class="col-lg-3 col-md-6">
        <div reactions-chemical type="Reactant-2" class="panel panel-green" ng-model="reactant_2">
          <p>name: {{$parent.$parent.reactantTwo.properties.name}}</p>
          <p>formula: {{$parent.$parent.reactantTwo.properties.formula}}</p>
          <p>fw: {{$parent.$parent.reactantTwo.properties.fw}} <span ng-if="$parent.$parent.reactantTwo.properties.fw">g/mol</span> </p>
          <p>density: {{$parent.$parent.reactantTwo.properties.density}} <span ng-if="$parent.$parent.reactantTwo.properties.density">g/mL</span></p>
          <p>mp: {{$parent.$parent.reactantTwo.properties.mp}}<span ng-if="$parent.$parent.reactantTwo.properties.mp"> <sup>o</sup>C</span></p>
          <p>bp: {{$parent.$parent.reactantTwo.properties.bp}}<span ng-if="$parent.$parent.reactantTwo.properties.bp"> <sup>o</sup>C</span></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div reactions-chemical type="Solvent" class="panel panel-yellow" ng-model="_solvent"></div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div reactions-chemical type="Product" class="panel panel-red" ng-model="_product">
          <p>name: {{$parent.$parent.product.properties.name}}</p>
          <p>formula: {{$parent.$parent.product.properties.formula}}</p>
          <p>fw: {{$parent.$parent.product.properties.fw}} <span ng-if="$parent.$parent.product.properties.fw">g/mol</span> </p>
          <p>density: {{$parent.$parent.product.properties.density}} <span ng-if="$parent.$parent.product.properties.density">g/mL</span></p>
          <p>mp: {{$parent.$parent.product.properties.mp}}<span ng-if="$parent.$parent.product.properties.mp"> <sup>o</sup>C</span></p>
          <p>bp: {{$parent.$parent.product.properties.bp}}<span ng-if="$parent.$parent.product.properties.bp"> <sup>o</sup>C</span></p>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-3 col-md-6" ng-if="yield > 0">
        <div class="panel panel-purple">
          <div class="panel-heading">
            Yield: {{yield}}%
          </div>
        </div>
      </div>
