<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h4>Create A Reaction</h4>
    </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-lg-12">
      <form class="form-horizontal" ng-submit='vm.createReaction()'>

        <div class="form-group">
          <label for="Title" class="control-label col-md-1">Title</label>
          <div class="col-md-4">
              <input class="form-control" type="text" ng-model='vm.reaction.title'>
          </div>
        </div>


        <div class="form-group">
          <label for="Date" class="control-label col-md-1">Date</label>
          <div class="col-md-4">
              <input class="form-control" type="text" placeholder="yyyy-mm-dd" ng-model='vm.reaction.date'>
          </div>
        </div>
      </form>
  <hr>


  <div class="row">
      <div class="col-lg-3 col-md-6">
        <div rxn-chemical class="panel panel-primary"></div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div rxn-chemical class="panel panel-primary"></div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div rxn-chemical class="panel panel-primary"></div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div rxn-chemical class="panel panel-primary"></div>
      </div>
      <!-- /.col-lg-3 -->


  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-lg-12 text-center">
      <input type="submit" class="btn btn-default" id="chem-lab-note-button" value="Save Reaction">
    </div>
  </div>
</div>
<!-- /#page-wrapper -->
