<div class="panel-heading">
      <div class="row">
          <div class="col-xs-12">
            {{type}}
          </div>
      </div>
  </div>

  <div class="panel-footer">
    <div class="input-group col-xs-12">
      <input type="text" class="search-query form-control" placeholder="Search Chemical" ng-model="ngModel.search"/>
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="searchChemical()">
              <span class=" glyphicon glyphicon-search"></span>
          </button>
      </span>
    </div>
    <br>

    <div ng-transclude></div>

    <hr>

    <div ng-switch="type">

      <div ng-switch-when="Reactant-1" class="input-group col-xs-12"> <!-- Reactant-1 -->
        <p>mol: {{$parent.$parent.vm.reaction.quantities[0].mol}}</p>
        <p>
          <span class="pull-left">g: <input type="number" placeholder="g (in grams)" ng-model="$parent.$parent.vm.reaction.quantities[0].g"/></span>
          <button class btn btn-default ng-click="weightToMol()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
        <p>
          <span class="pull-left">eq: <input type="number" ng-model="$parent.$parent.vm.reaction.quantities[0].eq"/></span>
        </p>
      </div>

      <div ng-switch-when="Reactant-2" class="input-group col-xs-12"> <!-- Reactant-2 -->
        <p>mol: {{$parent.$parent.vm.reaction.quantities[1].mol}}</p>
        <p>g: <strong style="color:#5cb85c">{{$parent.$parent.vm.reaction.quantities[1].g}}</strong> <span ng-if="$parent.$parent.vm.reaction.quantities[1].g">g</span></p>
        <p>
          <span class="pull-left">eq: <input type="number" placeholder="eq. to reactant-1" ng-model="$parent.$parent.vm.reaction.quantities[1].eq"/></span>
          <button class btn btn-default ng-click="addEq()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
      </div>

      <div ng-switch-when="Solvent" class="input-group col-xs-12"> <!-- Solvent -->
        <p>
          <span class="pull-left">mL: <input type="number" placeholder="solvent volume (mL)" ng-model="$parent.$parent.vm.reaction.quantities[2].mL"/></span>
        </p>

        <div class="text-center">
          <h1>&#10230;</h1>
        </div>

        <div id="panel-conditions">Conditions</div>
        <br>



        <p>
          <span class="pull-left">temp: <input type="number" ng-model="$parent.$parent.vm.reaction.temp"/><sup>o</sup>C</span>
        </p>
        <br> </br>
        <p>
          <span class="pull-left">time: <input type="number" ng-model="$parent.$parent.vm.reaction.time"/>min</span>
        </p>
      </div>

      <div ng-switch-when="Product" class="input-group col-xs-12"> <!-- Product -->
        <p>mol: {{$parent.$parent.vm.reaction.quantities[3].mol}}</p>
        <p>
          <span class="pull-left">g: <input type="number" placeholder="isolated g in grams" ng-model="$parent.$parent.vm.reaction.quantities[3].g"/></span>
          <button ng-click="addProductg()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
        <p>eq: {{$parent.$parent.vm.reaction.quantities[3].eq}}</p>
      </div>

    </div> <!-- .ng-switch -->

    <div class="clearfix"></div>
  </div> <!-- .panel-footer -->
