  <div class="panel-heading">
      <div class="row">
          <div class="col-xs-12">
            {{type}}
          </div>
      </div>
  </div>

  <div class="panel-footer">
    <div class="input-group col-xs-12">
      <input type="text" class="search-query form-control" placeholder="Search Chemical" ng-model="ngModel.search"/>
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="searchChemical()">
              <span class=" glyphicon glyphicon-search"></span>
          </button>
      </span>
    </div>
    <br>

    <div ng-transclude></div>

    <hr>

    <div ng-switch="type">

      <div ng-switch-when="Reactant-1" class="input-group col-xs-12"> <!-- Reactant-1 -->
        <p>mol: {{$parent.$parent.vm.reaction.chemAmt[0].mol}}</p>
        <p>
          <span class="pull-left">wt: <input type="number" placeholder="wt (in grams)" ng-model="$parent.$parent.vm.reaction.chemAmt[0].wt"/></span>
          <button class btn btn-default ng-click="weightToMol()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
        <p>
          <span class="pull-left">eq: <input type="number" ng-model="$parent.$parent.vm.reaction.chemAmt[0].eq"/></span>
        </p>
      </div>

      <div ng-switch-when="Reactant-2" class="input-group col-xs-12"> <!-- Reactant-2 -->
        <p>mol: {{$parent.$parent.vm.reaction.chemAmt[1].mol}}</p>
        <p>wt: <strong style="color:#5cb85c">{{$parent.$parent.vm.reaction.chemAmt[1].wt}}</strong> <span ng-if="$parent.$parent.vm.reaction.chemAmt[1].wt">g</span></p>
        <p>
          <span class="pull-left">eq: <input type="number" placeholder="eq. to reactant-1" ng-model="$parent.$parent.vm.reaction.chemAmt[1].eq"/></span>
          <button class btn btn-default ng-click="addEq()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
      </div>

      <div ng-switch-when="Solvent" class="input-group col-xs-12"> <!-- Solvent -->
        <p>
          <span class="pull-left">mL: <input type="number" placeholder="solvent volume in mL" ng-model="$parent.$parent.solvent.rxnAttr.mL"/></span>

        </p>
      </div>

      <div ng-switch-when="Product" class="input-group col-xs-12"> <!-- Product -->
        <p>mol: {{$parent.$parent.vm.reaction.chemAmt[3].mol}}</p>
        <p>
          <span class="pull-left">wt: <input type="number" placeholder="isolated wt in grams" ng-model="$parent.$parent.vm.reaction.chemAmt[3].wt"/></span>
          <button class btn btn-default ng-click="addProductWt()"><span class="glyphicon glyphicon-play"></span></button>
        </p>
        <p>eq: {{$parent.$parent.vm.reaction.chemAmt[3].eq}}</p>
      </div>

    </div> <!-- .ng-switch -->

    <div class="clearfix"></div>
  </div> <!-- .panel-footer -->
