<div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 mb">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h3>List of Reactions</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <h4>Search by Title:</h4>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Reaction Title" ng-model="searchTitle">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" ng-click="vm.searchTitle()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
  </div>
  <br>

  <div class="row">

    <div class="col-lg-9">
      <h4>Search by Date:</h4>
      <form action="" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Start (yyyy-mm-dd)" ng-model="startDate">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="End Date (yyyy-mm-dd)" ng-model="endDate">
            <span class="input-group-btn">
          </div>
        </div>

          <button class="btn btn-secondary" type="button" ng-click="vm.searchDate()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>

        </span>
        <br></br>
        <!-- <button class="btn btn-secondary" type="button" ng-click="vm.sortByUpvotes()">
          Sort By Upvotes
        </button> -->
      </form>
    </div>
  </div>

  <br>
  <div class="row">
    <ul class="col-md-12">
        <li
           data-ng-repeat="reaction in reactions | orderBy:vm.sortByUpvotes() | filter:searchTitle | filter:vm.searchByDate">

             <h4><span data-ng-bind="reaction.title"></span> </h4>

             <h5> on <span data-ng-bind="reaction.date"></span></h5>

             <button class="btn btn-secondary" type="button" ng-click="vm.upvote(reaction)">
               up
             </button>
             <button class="btn btn-secondary" type="button" ng-click="vm.downvote(reaction)">
               down
             </button>
             upvotes: {{reaction.upvotes || 0}}
             <button class="btn btn-secondary" type="button" ng-click="vm.updateReaction(reaction)">
               save
             </button>

        </li>
      </ul>
    </div>
  </div>
</div>
