/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* Colors */
$color-white: #fff;

$color-blue-gray-1: #424A5D;
$color-blue-gray-2: #4F576A;
$color-blue-gray-3: #E8EAF6;

$color-light-blue: #D0D8FF;

$color-green-1: #E5F1E4;
$color-green-2: #C2DFBF;
$color-green-3: #9AC995;
$color-green-4: #6DAB66;
$color-green-5: #458D3E;

$color-warning: #FF851B;

/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* set 1 rem to 10px */
    /* font-size: 10px;  */
    /* user font size is 16px, 62.5% of 16px is 10 px */
    font-size: 62.5%;
}

body {
    background: $color-white;
    color: $color-blue-gray-1;
    // font-family: 'Roboto', 'Arial', sans-serif;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    font-weight:400;
    box-sizing: border-box;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

/* UTILITIES */
.u-margin-bottom-big { margin-bottom: 10rem; }

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 6rem;
    padding: 0 1.5rem;
    background: $color-blue-gray-1;
    border-bottom: 0.1rem solid $color-blue-gray-2;

    backface-visibility: hidden; /* fix the logo to move up a little after flipping */
}




.logo {
    height: 5rem;
    width: auto;
    float: left;
    margin: 0.9rem 0 0.4rem;

    animation-delay: 0.3s;
    animation-timing-function: ease-out; /* fast start slow end */
    animation-duration: 1s; /* flip logo */
    animation-name: flipping;
    animation-fill-mode: backwards; /*apply 0% to initial state */
}

@keyframes flipping { /* flip .logo */
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(390deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

/* Main navi */

.main-nav {
    float: right;
    list-style: none; /* get rid of bullet points */
    margin: 1rem 0;
    li {
        display: inline-block; /* so they can be side by side */
        margin-left: 3.2rem;
        a:link,
        a:visited,
        .alink {
            padding: 1rem 0.8rem;
            color: $color-green-1;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        a:hover,
        a:active {
            color: $color-blue-gray-1;
            background-color: $color-green-3;
        }
    }
}

/* Main Page */


.main {
  // padding-top: 7rem; //empty header space height (min 6rem);

  background-image: -webkit-linear-gradient(rgba($color-light-blue, 0.7), rgba($color-light-blue, 0.7)), /* make background hazy */
                url(img/chem-reaction.jpg);
  background-image: -moz-linear-gradient(rgba($color-light-blue, 0.7), rgba($color-light-blue, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);
  background-image: -o-linear-gradient(rgba($color-light-blue, 0.7), rgba($color-light-blue, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);
  background-image: linear-gradient(rgba($color-light-blue, 0.7), rgba($color-light-blue, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh; /* fill whole page with header */
  background-attachment: fixed;

  .main-view {
    padding-top: 6rem;
  }
}

.front-page-text {
  margin-top: 38%;
  padding: 0 5% 0 10%;
  color: $color-blue-gray-2;

  h1 {
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 2rem;

    span {
      font-weight: 600;
      background-image: linear-gradient(to right, $color-green-4, $color-green-5);
      -webkit-background-clip: text;
      color: transparent;
      text-shadow: .5rem 1rem 1.5rem rgba(#555, 0.2);
    }
  }

  h2 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.5;
  }
}



/**** Sign Up Box ****/

.signup-login {
  margin: 28% 10% 20%;
  background-color: rgba($color-blue-gray-3, 0.4);
  box-shadow: 0px 1px 1px rgba(63, 81, 181, 0.4); /* #3F51B5 */
  padding: 1rem 0 1.5rem;
  text-align: center;

  h3 {
    margin: 2rem 0 3rem;
  }
  h4 {
    color: #777;
  }
}

/* FORM */

form {
  margin: 0 auto;
  width: 80%;
  padding: 0 5%;
  i {
    color: $color-green-4;
  }
}

.form-row {
  position: relative;
  margin-bottom: 3rem;

  &__input {
    display: block;
    width: 100%;
    // width: calc(100% - 33px);
    // margin-left: 10px;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  	padding: 0.8rem;
  	-webkit-appearance: none;
  	background: rgba($color-blue-gray-3, 0.6);
  	border: none;
  	border-radius: 2px;
    // transition: 0.2s ease;

    &:focus {
      outline: none;
      &::-webkit-input-placeholder { color: transparent }
    }
  }
  &__label {
    position: absolute;
    opacity: 0;
    font-size: 1.6rem;
    transition: 0.3s cubic-bezier(.18,-0.25,.63,1.52);
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__input:focus + &__label {
    font-size: 1.2rem;
    bottom: 100%;
    opacity: 1;
  }

  &__warning {
    position: absolute;
    bottom: -50%;
    right: 0;
    font-size: 1.2rem;
    color: $color-warning;
  }

  &--last {
    margin-bottom: 2rem;
  }
}




/* Button */

.big-button {

  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  margin: 1.5rem 0 2rem 0;
  background-image: linear-gradient(to right, rgba($color-green-4, 0.5), rgba($color-green-5, 0.5));
  border-radius: 2px;

  transition: all .2s;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  cursor: pointer;
  /* border-bottom: 2px solid #3160B6; */
  &--prim {
    color: $color-blue-gray-3;
    background-image: linear-gradient(to right, rgba($color-green-4, 0.8), rgba($color-green-5, 0.9));
  }

  &--sec {
    color: $color-blue-gray-1;
    background-image: linear-gradient(to right, rgba($color-green-4, 0.5), rgba($color-green-5, 0.5));
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }
}

/* New Reaction Page */




/* old */

.tab {
  margin-left: 40px;
}


.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green .btn-primary{
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.reaction-save .btn-primary{
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red .btn-primary{
  border-color: #d9534f;
  background-color: #d9534f;
}

.reaction-delete .btn-primary{
  border-color: #d9534f;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow .btn-primary{
  border-color: #f0ad4e;
  background-color: #f0ad4e;
}

.reaction-list .btn-primary{
  border-color: #f0ad4e;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}


#panel-conditions {
  padding: 8px;
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

#panel-yield {
  padding: 8px;
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

.form-horizontal .form-group label {
  text-align: right;
  color: gray;
  font-weight: 500;
}
#chem-lab-note-button{
  background: #68dff0;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #64c3c2 !important;
  padding: 5px 15px;
  margin-right: 15px;
  color: gray;
}

.form-horizontal p {
  font-size: 14px;
}

#page-wrapper {
    padding: 2rem;
    // border-left: 1px solid #e7e7e7;
}
