
/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* to include border and padding in the width */
}


html,
body {
    background: #fff;
    color: #424A5D;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /* hide something that stretches beyond the screen */
}

.clearfix {zoom: 1; }
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/* ------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------------------*/

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  font-size: 20px;
}

/*  GROUPING  ============================================================================= */

.row {
  max-width: 1320px;
  margin: 0 auto;
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}

.row:after {
    clear:both;
}



/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    padding: 0 15px;
    background: #424A5D;
    border-bottom: 1px solid #5B6376;
}




.logo {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0 4px;
}

/* Main navi */

.main-nav {
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 10px;
}

.main-nav li {
    display: inline-block; /* so they can be side by side */
    margin-left: 32px;
}


.main-nav li a:link,
.main-nav li a:visited {
    font-weight: 300;
    padding: 8px 8px;
    color: #E5F1E4;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #424A5D;
    background-color: #9BC995;
}




/* Front Page */

#main-content {
  background-image: -webkit-linear-gradient(rgb(208, 216, 255, 0.7), rgb(208, 216, 255, 0.7)), /* make background hazy */
                url(img/chem-reaction.jpg);
  background-image: -moz-linear-gradient(rgb(208, 216, 255, 0.7), rgb(208, 216, 255, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);
  background-image: -o-linear-gradient(rgb(208, 216, 255, 0.7), rgb(208, 216, 255, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);
  background-image: linear-gradient(rgb(208, 216, 255, 0.7), rgb(208, 216, 255, 0.7)), /* make background hazy */
                  url(img/chem-reaction.jpg);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh; /* fill whole page with header */
  background-attachment: fixed;
}

.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}

.front-page-text {
  margin-top: 40%;
  padding: 0 10% 0 10%;
}

h1 span {
  color: #468D3E;
}

h2 {
  line-height: 1.5;
}

.signup {
  margin: 20% 10% 20% 10%;
  background-color: rgba(232, 234, 246, 0.4);
  box-shadow: 0px 1px 1px rgba(63, 81, 181, 0.4); /* #3F51B5 */
  padding-top: 10px;
}

.signup-header {
	text-align: center;
}


/* FORM */

.signup h3 {
  margin-bottom: 30px;
}

form {
  margin: 0 auto;
  width: 80%;
  padding: 0 5%;
}

input {
  display: block;
  margin-bottom: 20px;
	padding: 4px;
	-webkit-appearance: none;

	background: rgba(232, 234, 246, 0.9);
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #3F51B5;
  transition: 0.2s ease;
}

/* input[type="password"]:focus */

input:focus {
  outline: none;
  border-bottom: 2px solid #42A5F5;
  margin-bottom: 15px;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 15px 0 25px 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* old */

.tab {
  margin-left: 40px;
}


.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green .btn-primary{
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.reaction-save .btn-primary{
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red .btn-primary{
  border-color: #d9534f;
  background-color: #d9534f;
}

.reaction-delete .btn-primary{
  border-color: #d9534f;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow .btn-primary{
  border-color: #f0ad4e;
  background-color: #f0ad4e;
}

.reaction-list .btn-primary{
  border-color: #f0ad4e;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}


#panel-conditions {
  padding: 8px;
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

#panel-yield {
  padding: 8px;
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

.form-horizontal .form-group label {
  text-align: right;
  color: gray;
  font-weight: bold;
}
#chem-lab-note-button{
  background: #68dff0;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #64c3c2 !important;
  padding: 5px 15px;
  margin-right: 15px;
  color: gray;
}

.form-horizontal p {
  font-size: 14px;
}

#page-wrapper {
    padding: 0 20px;
    border-left: 1px solid #e7e7e7;
}
