<div class="signup-login">
  <div>
    <h3>Log In</h3>
  </div>

  <form ng-submit="login()" name="form">

    <i class="fas fa-envelope fa-2x"></i>
    <input type="email" placeholder="Email address" ng-model="user.email"
           name="email" required="required">
    <div ng-messages="form.email.$error" ng-if="form.email.$touched">
      <div ng-message="required" style="color:maroon">Your email is required!</div>
    </div>

    <i class="fas fa-key fa-2x"></i>
    <input class="form-control" type="password"  placeholder="Password" ng-model="user.password"
           name="password" required="required">
    <div ng-messages="form.password.$error" ng-if="form.password.$touched">
      <div ng-message="required" style="color:maroon">Your password is required!</div>
    </div>
    
    <input type="submit" class="big-button big-button--prim" value="Log In">
    <div>
        <h4>---Don't have an account?---</h4>
        <button class="big-button big-button--sec" ui-sref="home.register">Sign Up</button>
    </div>
  </form>
</div>  <!-- .signup-login -->
