<div class="row mt">

  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 mb">
    <div class="white-panel pn">
      <div class="white-header">
          <h4>LOG IN</h4>
      </div>

      <p><i class="fa fa-user fa-lg" aria-hidden="true"></i></p>
      <form ng-submit="login()">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input class="form-control" type="email" placeholder="Email address" ng-model="user.email">
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input class="form-control" type="password"  placeholder="Password" ng-model="user.password">
        </div>
        <br>
        <input type="submit" class="btn btn-default" value="Log In">
      </form>


    </div>
  </div><!-- /col-md-4 -->

</div><!-- /row -->
