<div class="signup-login">
  <div>
      <h3>Join Now</h3>
  </div>

  <form ng-submit="register()" name="form">
    <i class="fas fa-envelope fa-2x"></i>
    <input type="email" class="form-control" placeholder="Email" ng-model="user.email"
           name="email" required="required">
    <i class="fas fa-user fa-2x"></i>
    <input type="text" class="form-control" placeholder="First name" ng-model="user.first_name"
           name="first_name" required="required">
    <i class="fas fa-user fa-2x"></i>
    <input type="text" class="form-control" placeholder="Last name" ng-model="user.last_name"
           name="last_name" required="required">
    <i class="fas fa-key fa-2x"></i>
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"
           name="password" required="required">
    <input type="submit" class="big-button big-button--prim" value="Sign me up!">
    <div>
        <h4>---Alreday a member?---</h4>
        <button class="big-button big-button--sec" ui-sref="home.login">Login</button>
    </div>
  </form>

</div> <!-- .signup-login -->
