<div class="signup">
  <div class="signup-header">
      <h3>Join Now</h3>
  </div>

  <form ng-submit="register()" name="form">

      <!-- <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span> -->
      <input type="email" class="form-control" placeholder="Email" ng-model="user.email"
             name="email" required="required">
        <!-- <div ng-messages="form.email.$error" ng-if="form.email.$touched">
          <div ng-message="required" style="color:maroon">Your email is required!</div>
        </div> -->
      <!-- <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span> -->
      <input type="text" class="form-control" placeholder="First name" ng-model="user.first_name"
             name="first_name" required="required">
        <!-- <div ng-messages="form.first_name.$error" ng-if="form.first_name.$touched">
          <div ng-message="required" style="color:maroon">Your first_name is required!</div>
        </div> -->
      <!-- <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span> -->
      <input type="text" class="form-control" placeholder="Last name" ng-model="user.last_name"
             name="last_name" required="required">
        <!-- <div ng-messages="form.last_name.$error" ng-if="form.last_name.$touched">
         <div ng-message="required" style="color:maroon">Your last_name is required!</div>
        </div> -->
      <!-- <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span> -->
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"
             name="password" required="required">
      <!-- <div ng-messages="form.password.$error" ng-if="form.password.$touched">
       <div ng-message="required" style="color:maroon">Your password is required!</div>
      </div> -->
    <!-- </div> -->
    <input type="submit" class="signup-btn signup-btn--signup" value="Sign me up!">
    <div class="u-margin-bottom-big">
        <h4>---Alreday a member---</h4>
        <button class="signup-btn signup-btn--login" ui-sref="home.login">Login</button>
    </div>
  </form>
</div> <!-- .signup -->
