<!DOCTYPE html>
<html data-ng-app="chemApp">
  <head>
    <title>ChemLabNote</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->

  </head>

  <body ng-app="chemApp">

    <div ng-include="'nav/_nav.html'"></div>

    <div ng-include="'sidebar/_sidebar.html'"></div>


    <section id="main-content">
        <section class="wrapper">
          <div class="row">

              <ui-view></ui-view>

            </div> <!--row-->
          </section>
      </section>

  </body>
</html>
