<!DOCTYPE html>
<html data-ng-app="chemApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="Online Lab Notebook for Chemists">
    <title>ChemLabNote</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="chemApp">

    <div ng-include="'nav/_nav.html'"></div>

    <!-- <div ng-include="'sidebar/_sidebar.html'"></div> -->


    <section id="main-content">
        <section class="wrapper">
          <div class="row">

              <ui-view></ui-view>

            </div> <!--row-->
          </section>
      </section>

  </body>
</html>
